| Files     |              |
|-----------|--------------|
{%- for child0 in children -%}
| [{{child0.title}}]({{child0.url}}) | {% if existsIn(child0, "brief") %}{{child0.brief}}{% endif %}<br><sup><span style="color:green">({% if child0.kind == "dir" %}directory{% else %}{{child0.kind}}{% endif %})</span></sup>|
{%- if existsIn(child0, "children") %}{% for child1 in child0.children -%}
| [{{last(stripNamespace(child1.title))}}]({{child1.url}}) | {% if existsIn(child1, "brief") %}{{child1.brief}}{% endif %}<br><sup><span style="color:green">({% if child1.kind == "dir" %}directory{% else %}{{child1.kind}}{% endif %})</span></sup> |
{%- if existsIn(child1, "children") %}{% for child2 in child1.children -%}
| [{{last(stripNamespace(child2.title))}}]({{child2.url}}) | {% if existsIn(child2, "brief") %}{{child2.brief}}{% endif %}<br><sup><span style="color:green">({% if child2.kind == "dir" %}directory{% else %}{{child2.kind}}{% endif %})</span></sup> |
{%- if existsIn(child2, "children") %}{% for child3 in child2.children -%}
| [{{last(stripNamespace(child3.title))}}]({{child3.url}}) | {% if existsIn(child3, "brief") %}{{child3.brief}}{% endif %}<br><sup><span style="color:green">({% if child3.kind == "dir" %}directory{% else %}{{child3.kind}}{% endif %})</span></sup> |
{%- if existsIn(child3, "children") %}{% for child4 in child3.children -%}
| [{{last(stripNamespace(child4.title))}}]({{child4.url}}) | {% if existsIn(child4, "brief") %}{{child4.brief}}{% endif %}<br><sup><span style="color:green">({% if child4.kind == "dir" %}directory{% else %}{{child4.kind}}{% endif %})</span></sup> |
{%- if existsIn(child4, "children") %}{% for child5 in child4.children -%}
| [{{last(stripNamespace(child5.title))}}]({{child5.url}}) | {% if existsIn(child5, "brief") %}{{child5.brief}}{% endif %}<br><sup><span style="color:green">({% if child5.kind == "dir" %}directory{% else %}{{child5.kind}}{% endif %})</span></sup> |
{%- if existsIn(child5, "children") %}{% for child6 in child5.children -%}
| [{{last(stripNamespace(child6.title))}}]({{child6.url}}) | {% if existsIn(child6, "brief") %}{{child6.brief}}{% endif %}<br><sup><span style="color:green">({% if child6.kind == "dir" %}directory{% else %}{{child6.kind}}{% endif %})</span></sup> |
{%- if existsIn(child6, "children") %}{% for child7 in child6.children -%}
| [{{last(stripNamespace(child7.title))}}]({{child7.url}}) | {% if existsIn(child7, "brief") %}{{child7.brief}}{% endif %}<br><sup><span style="color:green">({% if child7.kind == "dir" %}directory{% else %}{{child7.kind}}{% endif %})</span></sup> |
{%- endfor %}{% endif %}{% endfor %}{% endif %}{% endfor %}{% endif %}{% endfor %}{% endif %}{% endfor %}{% endif %}{% endfor %}{% endif %}{% endfor %}{% endif %}{% endfor -%}
