{% include "header" -%}

{% if exists("brief") %}> {{brief}}{% endif %}

{% if kind == "file" %}
```cpp
#include <{{title}}>
```{% endif %}

{% include "nonclass_members_tables" -%}

{% if hasDetails %}

{% include "details" %}{% endif -%}

{% include "nonclass_members_details" -%}

{% if exists("programlisting")%}## Source code

```{{language}}
{{programlisting}}
```
{% endif %}

{% include "footer" %}
